In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to C:\Users\Braulio
[nltk_data]     P\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Braulio P\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [2]:
df = pd.read_csv(r'D:\PROGRAMACION\PROYECTOS\PROYECTOINDIVIDIAL1\PROYECTOINDIVUDUAL\ARCHIVOSCSVLIMPIOS\userreviews.csv')

In [3]:
df

,posted,item_id,recommend,review,user_id
0,"November 5, 2011",1250,True,Simple yet with great replayability In my opin...,76561197970982479
1,"July 15, 2011",22200,True,It's unique and worth a playthrough,76561197970982479
2,"April 21, 2011",43110,True,Great atmosphere The gunplay can be a bit chun...,76561197970982479
3,"June 24, 2014",251610,True,I know what you think when you see this title ...,js41637
4,"September 8, 2013",227300,True,For a simple it's actually not all that simple...,js41637
...,...,...,...,...,...
58426,July 10,70,True,a must have classic from steam definitely wort...,76561198312638244
58427,July 8,362890,True,this game is a perfect remake of the original ...,76561198312638244
58428,July 3,273110,True,had so much fun plaing this and collecting res...,LydiaMorley
58429,July 20,730,True,:D,LydiaMorley
58430,July 2,440,True,so much fun :D,LydiaMorley

In [4]:
df['review'] = df['review'].astype(str)
df['item_id'] = df['item_id'].astype(int)
df['recommend'] = df['recommend'].astype(bool)
df['user_id'] = df['user_id'].astype(str)

In [5]:
df

,posted,item_id,recommend,review,user_id
0,"November 5, 2011",1250,True,Simple yet with great replayability In my opin...,76561197970982479
1,"July 15, 2011",22200,True,It's unique and worth a playthrough,76561197970982479
2,"April 21, 2011",43110,True,Great atmosphere The gunplay can be a bit chun...,76561197970982479
3,"June 24, 2014",251610,True,I know what you think when you see this title ...,js41637
4,"September 8, 2013",227300,True,For a simple it's actually not all that simple...,js41637
...,...,...,...,...,...
58426,July 10,70,True,a must have classic from steam definitely wort...,76561198312638244
58427,July 8,362890,True,this game is a perfect remake of the original ...,76561198312638244
58428,July 3,273110,True,had so much fun plaing this and collecting res...,LydiaMorley
58429,July 20,730,True,:D,LydiaMorley
58430,July 2,440,True,so much fun :D,LydiaMorley

In [6]:
example = df['review'][154]
print(example)

1010 has Sasha Grey so fun for whole family

In [7]:
tokens = nltk.word_tokenize(example)
tokens[:10]

['1010', 'has', 'Sasha', 'Grey', 'so', 'fun', 'for', 'whole', 'family']

In [8]:
tagged = nltk.pos_tag(tokens)
tagged[:10]

[('1010', 'CD'),
 ('has', 'VBZ'),
 ('Sasha', 'NNP'),
 ('Grey', 'NNP'),
 ('so', 'RB'),
 ('fun', 'RB'),
 ('for', 'IN'),
 ('whole', 'JJ'),
 ('family', 'NN')]

In [9]:
from nltk.sentiment import SentimentIntensityAnalyzer
from tqdm.notebook import tqdm
nltk.download('vader_lexicon')
sia = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to C:\Users\Braulio
[nltk_data]     P\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [10]:
sia.polarity_scores('Great game!')

{'neg': 0.0, 'neu': 0.185, 'pos': 0.815, 'compound': 0.6588}

In [11]:
sia.polarity_scores('Worst game ever!')

{'neg': 0.687, 'neu': 0.313, 'pos': 0.0, 'compound': -0.6588}

In [12]:
sia.polarity_scores(example)

{'neg': 0.0, 'neu': 0.563, 'pos': 0.437, 'compound': 0.6642}

In [13]:
res = {}
for i, row in tqdm(df.iterrows(), total=len(df)):
  text = row['review']
  res[i] = sia.polarity_scores(text)

  0%|          | 0/58431 [00:00<?, ?it/s]

In [14]:
vaders = pd.DataFrame(res).T
vaders

         neg    neu    pos  compound
0      0.077  0.681  0.242    0.8481
1      0.000  0.678  0.322    0.2263
2      0.000  0.709  0.291    0.9062
3      0.067  0.719  0.214    0.9566
4      0.041  0.734  0.226    0.9792
...      ...    ...    ...       ...
58426  0.000  0.566  0.434    0.5574
58427  0.026  0.692  0.282    0.9786
58428  0.143  0.507  0.351    0.7635
58429  0.000  0.000  1.000    0.5106
58430  0.000  0.203  0.797    0.8349

[58431 rows x 4 columns]

In [15]:
final_df = df.merge(vaders, left_index=True, right_index=True)
final_df

,posted,item_id,recommend,review,user_id,neg,neu,pos,compound
0,"November 5, 2011",1250,True,Simple yet with great replayability In my opin...,76561197970982479,0.077,0.681,0.242,0.8481
1,"July 15, 2011",22200,True,It's unique and worth a playthrough,76561197970982479,0.000,0.678,0.322,0.2263
2,"April 21, 2011",43110,True,Great atmosphere The gunplay can be a bit chun...,76561197970982479,0.000,0.709,0.291,0.9062
3,"June 24, 2014",251610,True,I know what you think when you see this title ...,js41637,0.067,0.719,0.214,0.9566
4,"September 8, 2013",227300,True,For a simple it's actually not all that simple...,js41637,0.041,0.734,0.226,0.9792
...,...,...,...,...,...,...,...,...,...
58426,July 10,70,True,a must have classic from steam definitely wort...,76561198312638244,0.000,0.566,0.434,0.5574
58427,July 8,362890,True,this game is a perfect remake of the original ...,76561198312638244,0.026,0.692,0.282,0.9786
58428,July 3,273110,True,had so much fun plaing this and collecting res...,LydiaMorley,0.143,0.507,0.351,0.7635
58429,July 20,730,True,:D,LydiaMorley,0.000,0.000,1.000,0.5106
58430,July 2,440,True,so much fun :D,LydiaMorley,0.000,0.203,0.797,0.8349

In [16]:
final_df['sentiment_analysis'] = None

In [17]:
def calcular_sentimiento(fila):
  valor1 = fila['neg']
  valor2 = fila['neu']
  valor3 = fila['pos']

  if valor3 > valor2 and valor3 > valor1:
    maximo = 2
  elif valor2 > valor1 and valor2 > valor3:
    maximo = 1
  else:
    maximo = 0


  return(maximo)

In [18]:
final_df['sentiment_analysis'] = final_df.apply(calcular_sentimiento, axis=1)

In [19]:
final_df

,posted,item_id,recommend,review,user_id,neg,neu,pos,compound,sentiment_analysis
0,"November 5, 2011",1250,True,Simple yet with great replayability In my opin...,76561197970982479,0.077,0.681,0.242,0.8481,1
1,"July 15, 2011",22200,True,It's unique and worth a playthrough,76561197970982479,0.000,0.678,0.322,0.2263,1
2,"April 21, 2011",43110,True,Great atmosphere The gunplay can be a bit chun...,76561197970982479,0.000,0.709,0.291,0.9062,1
3,"June 24, 2014",251610,True,I know what you think when you see this title ...,js41637,0.067,0.719,0.214,0.9566,1
4,"September 8, 2013",227300,True,For a simple it's actually not all that simple...,js41637,0.041,0.734,0.226,0.9792,1
...,...,...,...,...,...,...,...,...,...,...
58426,July 10,70,True,a must have classic from steam definitely wort...,76561198312638244,0.000,0.566,0.434,0.5574,1
58427,July 8,362890,True,this game is a perfect remake of the original ...,76561198312638244,0.026,0.692,0.282,0.9786,1
58428,July 3,273110,True,had so much fun plaing this and collecting res...,LydiaMorley,0.143,0.507,0.351,0.7635,1
58429,July 20,730,True,:D,LydiaMorley,0.000,0.000,1.000,0.5106,2
58430,July 2,440,True,so much fun :D,LydiaMorley,0.000,0.203,0.797,0.8349,2

In [20]:
df = final_df.drop(columns=['neg', 'neu', 'pos', 'compound'])
df = df.reindex(columns=['user_id', 'item_id', 'recommend', 'sentiment_analysis', 'posted','review'])

In [21]:
df

,user_id,item_id,recommend,sentiment_analysis,posted,review
0,76561197970982479,1250,True,1,"November 5, 2011",Simple yet with great replayability In my opin...
1,76561197970982479,22200,True,1,"July 15, 2011",It's unique and worth a playthrough
2,76561197970982479,43110,True,1,"April 21, 2011",Great atmosphere The gunplay can be a bit chun...
3,js41637,251610,True,1,"June 24, 2014",I know what you think when you see this title ...
4,js41637,227300,True,1,"September 8, 2013",For a simple it's actually not all that simple...
...,...,...,...,...,...,...
58426,76561198312638244,70,True,1,July 10,a must have classic from steam definitely wort...
58427,76561198312638244,362890,True,1,July 8,this game is a perfect remake of the original ...
58428,LydiaMorley,273110,True,1,July 3,had so much fun plaing this and collecting res...
58429,LydiaMorley,730,True,2,July 20,:D
58430,LydiaMorley,440,True,2,July 2,so much fun :D

In [22]:
df.to_csv(r'D:\PROGRAMACION\PROYECTOS\PROYECTOINDIVIDIAL1\PROYECTOINDIVUDUAL\SENTIMENTANALISIS\reviews_limpio.csv', index=False)

In [23]:
df.to_parquet(r'D:\PROGRAMACION\PROYECTOS\PROYECTOINDIVIDIAL1\PROYECTOINDIVUDUAL\SENTIMENTANALISIS\reviews_limpio.parquet', index=False)